<ion-view view-title="Welcome">
  <ion-content style="background: #e8ebf1;" class="padding">
      <div class="list card">
          <div class="item">
            <button class="button-block button button-positive" ng-click="generate(items)">generate</button>
          </div>
      </div>
      <div collection-repeat="item in items" item-width="100%" item-height="250px">
          <div class="list card" style="margin-bottom: 5000px; height: 300px">
              <div class="item item-image">
                  <img ng-src="{{item.img}}" width="100%" height="200px">
              </div>
              <div class="item item-body">
                  {{item.text}}
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
